nav .user-img {
    width: 30px;
    height: 30px;
}


.card {
    text-decoration: none;
}

.card:hover {
    text-decoration: none;
}

.card .responsive-img {
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    max-width: 12rem;
    max-height: 12rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card .card-body .card-title {
    color: rgb(0, 0, 0);
}

.card .card-body .card-price {
    color: rgb(255, 166, 0);
}

.card .card-body p {
    color: black;
}

.card .card-body small {
    color: black;
}

.product-card {
    width: 13rem;
}

.product-card:hover {
    cursor: pointer;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.showcase {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.show-img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid blue; */
}

.show-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 1.25px solid rgb(150, 150, 150);
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 10rem;
    height: 10rem;
}

.thumbnail-img {
    display: flex;
    flex-wrap: wrap;
    padding-top: .5rem;
    margin-left: -2.5rem;

}

.thumbnail-img li {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgb(211, 211, 211);
    background-color: white;
    border-radius: 5%;
}

.thumbnail-img li:hover {
    border: 1.5px solid orange
}

.thumbnail-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-toko {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgb(223, 223, 223);
    border-radius: .5rem;
}

.img-toko img {
    width: 100%;
    max-width: 5rem;
    max-height: 5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.fwizard-header {
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.page-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
}

.fwizard-header .page-number li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
}

.fwizard-header .page-number li .bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.fwizard-header .page-number li.active {
    color: orange;
}

.fwizard-header .page-number li.active .f-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.fwizard-header .page-number li .f-number {
    border: 2px solid gray;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
}

.fwizard-header .page-number li .f-number span {
    font-size: 1.4rem;
}

.fwizard-header .page-number li .f-number.active {
    border: 3px solid orange;
    width: 3rem;
    height: 3rem;
}

.fwizard-header .page-number li .f-number.active span {
    font-size: 1.7rem;
}

.item-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}

.item-card:hover {
    text-decoration: none;
    color: black;
    transform: scale(1.01);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.322);
}

.item-card .item-img {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid rgb(223, 223, 223); */
    /* border-radius: .5rem; */
    margin: 1rem;

}

.item-card .item-img img {
    width: 100%;
    max-width: 5rem;
    max-height: 5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.item-card .item-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .5rem;
}

.item-card .item-body .item-title {
    font-size: 20px;
    font-weight: 500;
}

.item-card .item-body .item-loc {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
}

.item-card .item-body .item-loc .loc-ico {
    color: gray;
}

.item-card .item-body .item-loc .loc-desc {
    color: gray;
    padding-left: 1rem;
}

.progress {
    background-color: #dbdbdb;
}