.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contaoner .card {
    flex: 1;
    text-decoration: none;
}

.card:hover {
    text-decoration: none;
}

.container .pencarian {
    flex: 4;
}

.container .pencarian nav {
    justify-self: flex-end;
}

.container .pagi {
    flex: 4;
}

.card .responsive-img {
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
}

.card img {
    display: block;
    width: 100%;
    max-width: 12rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card .card-body .card-title {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.card .card-body .card-price {
    color: rgb(255, 166, 0);
}

.card .card-body p {
    color: black;
}

.product-card:hover {
    cursor: pointer;
}